.elementor-1376 .elementor-element.elementor-element-007bb17{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--background-transition:0.3s;}.elementor-1376 .elementor-element.elementor-element-b7da1ea .ekit_social_media{text-align:right;}.elementor-1376 .elementor-element.elementor-element-b7da1ea .elementor-repeater-item-eb0f0cb > a{color:#FFFFFF;}.elementor-1376 .elementor-element.elementor-element-b7da1ea .elementor-repeater-item-eb0f0cb > a svg path{stroke:#FFFFFF;fill:#FFFFFF;}.elementor-1376 .elementor-element.elementor-element-b7da1ea .elementor-repeater-item-eb0f0cb > a:hover{background-color:#3b5998;}.elementor-1376 .elementor-element.elementor-element-b7da1ea .elementor-repeater-item-f85aed3 > a{color:#FFFFFF;}.elementor-1376 .elementor-element.elementor-element-b7da1ea .elementor-repeater-item-f85aed3 > a svg path{stroke:#FFFFFF;fill:#FFFFFF;}.elementor-1376 .elementor-element.elementor-element-b7da1ea .elementor-repeater-item-f85aed3 > a:hover{background-color:#3b5998;}.elementor-1376 .elementor-element.elementor-element-b7da1ea .elementor-repeater-item-9e2fad1 > a{color:#FFFFFF;}.elementor-1376 .elementor-element.elementor-element-b7da1ea .elementor-repeater-item-9e2fad1 > a svg path{stroke:#FFFFFF;fill:#FFFFFF;}.elementor-1376 .elementor-element.elementor-element-b7da1ea .elementor-repeater-item-9e2fad1 > a:hover{background-color:#3b5998;}.elementor-1376 .elementor-element.elementor-element-b7da1ea .elementor-repeater-item-2abd249 > a{color:#FFFFFF;}.elementor-1376 .elementor-element.elementor-element-b7da1ea .elementor-repeater-item-2abd249 > a svg path{stroke:#FFFFFF;fill:#FFFFFF;}.elementor-1376 .elementor-element.elementor-element-b7da1ea .elementor-repeater-item-2abd249 > a:hover{background-color:#3b5998;}.elementor-1376 .elementor-element.elementor-element-b7da1ea .ekit_social_media > li > a{text-align:center;text-decoration:none;border-radius:50% 50% 50% 50%;width:30px;height:30px;}.elementor-1376 .elementor-element.elementor-element-b7da1ea .ekit_social_media > li{display:inline-block;margin:15px 15px 15px 15px;}.elementor-1376 .elementor-element.elementor-element-b7da1ea .ekit_social_media > li > a i{font-size:25px;}.elementor-1376 .elementor-element.elementor-element-b7da1ea .ekit_social_media > li > a svg{max-width:25px;}.elementor-1376 .elementor-element.elementor-element-b7da1ea{width:auto;max-width:auto;}.elementor-1376 .elementor-element.elementor-element-b7da1ea.elementor-element{--align-self:center;}.elementor-1376 .elementor-element.elementor-element-90ac11b .eael-creative-button i{color:#ffffff;font-size:0px;}.elementor-1376 .elementor-element.elementor-element-90ac11b .eael-creative-button .creative-button-inner svg{fill:#ffffff;}.elementor-1376 .elementor-element.elementor-element-90ac11b .eael-creative-button{color:#ffffff;border-style:dashed;}.elementor-1376 .elementor-element.elementor-element-90ac11b .eael-creative-button svg{fill:#ffffff;width:0px;height:0px;}.elementor-1376 .elementor-element.elementor-element-90ac11b .eael-creative-button .eael-creative-button--tamaya-secondary{color:#ffffff;}.elementor-1376 .elementor-element.elementor-element-90ac11b .eael-creative-button:hover i{color:#ffffff;}.elementor-1376 .elementor-element.elementor-element-90ac11b .eael-creative-button:hover .creative-button-inner svg{fill:#ffffff;}.elementor-1376 .elementor-element.elementor-element-90ac11b .eael-creative-button:hover .cretive-button-text{color:#ffffff;}.elementor-1376 .elementor-element.elementor-element-90ac11b .eael-creative-button.eael-creative-button--winona::after{color:#ffffff;}.elementor-1376 .elementor-element.elementor-element-90ac11b .eael-creative-button.eael-creative-button--rayen:hover::before{color:#ffffff;}.elementor-1376 .elementor-element.elementor-element-90ac11b .eael-creative-button-wrapper{justify-content:center;}.elementor-1376 .elementor-element.elementor-element-90ac11b .eael-creative-button .cretive-button-text, .elementor-1376 .elementor-element.elementor-element-90ac11b .eael-creative-button--winona::after, .elementor-1376 .elementor-element.elementor-element-90ac11b .eael-creative-button--rayen::before, .elementor-1376 .elementor-element.elementor-element-90ac11b .eael-creative-button--tamaya::after, .elementor-1376 .elementor-element.elementor-element-90ac11b .eael-creative-button--tamaya::before{font-family:"Rock Salt", Sans-serif;font-weight:600;}.elementor-1376 .elementor-element.elementor-element-90ac11b{width:100%;max-width:100%;}.elementor-1376 .elementor-element.elementor-element-90ac11b.elementor-element{--align-self:flex-start;}.elementor-1376 .elementor-element.elementor-element-a47c92d{text-align:center;}.elementor-1376 .elementor-element.elementor-element-a47c92d .elementor-heading-title{color:#FFFFFF;font-family:"Press Start 2P", Sans-serif;font-size:30px;font-weight:600;}.elementor-1376 .elementor-element.elementor-element-9087077{--display:grid;--min-height:536px;--e-con-grid-template-columns:repeat(3, 1fr);--e-con-grid-template-rows:repeat(1, 1fr);--grid-auto-flow:row;--justify-items:center;--background-transition:0.3s;}.elementor-1376 .elementor-element.elementor-element-930e42c img{width:100%;max-width:100%;height:500px;opacity:1;}.elementor-1376 .elementor-element.elementor-element-930e42c:hover img{opacity:100;filter:brightness( 100% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );}.elementor-1376 .elementor-element.elementor-element-930e42c{width:100%;max-width:100%;}.elementor-1376 .elementor-element.elementor-element-fb3c732 img{width:100%;max-width:100%;height:500px;opacity:0.2;filter:brightness( 100% ) contrast( 100% ) saturate( 100% ) blur( 0px ) hue-rotate( 0deg );}.elementor-1376 .elementor-element.elementor-element-8d3f9ed img{width:100%;max-width:100%;height:500px;opacity:0.2;}.elementor-1376 .elementor-element.elementor-element-8d3f9ed:hover img{opacity:100;}.elementor-1376 .elementor-element.elementor-element-8d3f9ed.elementor-element{--align-self:center;--order:99999 /* order end hack */;}.elementor-1376 .elementor-element.elementor-element-9c8fa53{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--background-transition:0.3s;}.elementor-1376 .elementor-element.elementor-global-2105{width:100%;max-width:100%;}.elementor-1376 .elementor-element.elementor-element-9f457ff{--display:flex;--background-transition:0.3s;}.elementor-1376 .elementor-element.elementor-element-917e583{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--background-transition:0.3s;}.elementor-1376 .elementor-element.elementor-element-5484408{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--flex-wrap-mobile:wrap;--background-transition:0.3s;}:root{--page-title-display:none;}@media(max-width:1024px){.elementor-1376 .elementor-element.elementor-element-9087077{--grid-auto-flow:row;}}@media(max-width:767px){.elementor-1376 .elementor-element.elementor-element-b7da1ea .ekit_social_media{text-align:center;}.elementor-1376 .elementor-element.elementor-element-90ac11b .eael-creative-button-wrapper{justify-content:center;}.elementor-1376 .elementor-element.elementor-element-90ac11b.elementor-element{--align-self:center;}.elementor-1376 .elementor-element.elementor-element-9087077{--e-con-grid-template-columns:repeat(1, 1fr);--e-con-grid-template-rows:repeat(1, 1fr);--grid-auto-flow:row;}.elementor-1376 .elementor-element.elementor-element-930e42c img{height:500px;}.elementor-1376 .elementor-element.elementor-element-fb3c732 img{height:500px;}.elementor-1376 .elementor-element.elementor-element-8d3f9ed img{height:500px;}}@media(min-width:768px){.elementor-1376 .elementor-element.elementor-element-9087077{--content-width:950px;}}/* Start custom CSS for image, class: .elementor-element-fb3c732 */.image-not-available {
  position: relative;
  width: 100%;
  height: auto;
}

.image-not-available img {
  display: block;
  width: 100%;
  height: auto;
}

.image-not-available img:not([src]) {
  display: none;
}

.image-not-available:after {
  content: "Image Not Available";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  visibility: hidden;
}

.image-not-available img:not([src]) + :after {
  visibility: visible;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-28d50ca */@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');

body {
    font-family: 'Arial', sans-serif;
    background-color: #000;
    color: #f4f4f9;
    margin: 0;
    padding: 20px;
}


.tokenomics .summary {
    text-align: center;
    margin-bottom: 50px;
}

.tokenomics .summary h2 {
    font-family: 'Titan One', cursive;
    font-size: 4rem;
    color: #ffd700;
    margin: 0;
}

.tokenomics .summary p {
    font-size: 1.2rem;
    color: #b0bec5;
    margin: 10px 0;
}

.tokenomics {
    text-align: center;
    margin-bottom: 40px;
}


.tokenomics h2 {
    font-family: 'Titan One', cursive;
    font-size: 3rem;
    color: #ffd700;
    margin: 0;
}

.tokenomics p {
    margin: 10px 0;
    line-height: 1.6;
    font-size: 1.2rem;
    color: #b0bec5;
}

.token-distribution {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: slideIn 1s ease-in-out;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.distribution-item {
    background: #222;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: background 0.3s, transform 0.3s;
    width: 100%;
    margin-bottom: 20px;
}

.distribution-item:hover {
    background: #333;
    transform: translateY(-5px);
}

.distribution-item h3 {
    margin: 0 0 10px 0;
    font-size: 1.5rem;
    color: #ffd700;
}

.distribution-item p {
    margin: 0;
    line-height: 1.6;
    font-size: 1rem;
    color: #b0bec5;
}

.bar {
    width: 100%;
    background: #333;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    height: 30px;
    margin-bottom: 10px;
}

.bar-fill {
    height: 100%;
    border-radius: 10px;
    animation: growBar 2s ease-in-out forwards;
}

.bar-fill-public-sale { background-color: #1e88e5; width: 40%; }
.bar-fill-pre-sale { background-color: #8e24aa; width: 17%; }
.bar-fill-team { background-color: #43a047; width: 14%; }
.bar-fill-marketing { background-color: #fb8c00; width: 15%; }
.bar-fill-liquidity { background-color: #e53935; width: 6%; }
.bar-fill-airdrops { background-color: #fdd835; width: 8%; }
.bar-fill-reward-wallet { background-color: #00bcd4; width: 10%; }

.percentage {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
    color: #fff;
}

.wallet-link {
    display: inline-block;
    padding: 8px 14px;
    background-color: rgba(30, 136, 229, 0.2); /* Fondo transparente */
    color: #1e88e5; /* Color de texto */
    text-decoration: none;
    border-radius: 20px;
    font-size: 0.9rem;
    font-weight: bold;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    margin-top: 10px;
    cursor: pointer;
    border: none;
}

.wallet-link:hover {
    background-color: rgba(30, 136, 229, 0.3); /* Fondo más oscuro al pasar el mouse */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
}

.wallet-link svg {
    margin-right: 5px;
}

.wallet-link:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(30, 136, 229, 0.5);
}

@media (max-width: 768px) {
    .tokenomics h2 {
        font-size: 2.5rem;
    }

    .tokenomics p {
        font-size: 1rem;
    }

    .distribution-item h3 {
        font-size: 1.25rem;
    }

    .distribution-item p {
        font-size: 0.9rem;
    }

    .bar {
        height: 25px;
    }

    .percentage {
        font-size: 0.9rem;
    }

    .wallet-link {
        font-size: 0.8rem;
        padding: 6px 12px;
    }
}

@media (max-width: 480px) {
    .tokenomics h2 {
        font-size: 2rem;
    }

    .tokenomics p {
        font-size: 0.9rem;
    }

    .distribution-item h3 {
        font-size: 1rem;
    }

    .distribution-item p {
        font-size: 0.8rem;
    }

    .bar {
        height: 20px;
    }

    .percentage {
        font-size: 0.8rem;
    }

    .wallet-link {
        font-size: 0.7rem;
        padding: 4px 10px;
    }
}/* End custom CSS */